<style media="screen">
#head{
  background-color: grey;
  color:white;
  border: 2px solid gold;
  padding-right: 15px;
}
.show td{
  padding-right:10px;
  background-color: lightblue;
  color:black;
  text-align: center;
  font-weight: bold;
  border: 2px solid gold;
}
#add{
  background-color: green;
  color:white;
}
#remove{
  background-color: purple;
  color:white;
  font-weight: 200;
}
</style>
<div>
  <div>
    <h2>Player Controller</h2>
      <form ng-submit="add_user()">
        Name<input type="text" ng-model="user.name">
        <button id="add" type="submit" user="button" ng-click="">Create Player</button>
      </form>
      <br>
      Filter : <input type="text" placeholder="Find User" ng-model="UserFilter">
    <div>
    <br>
    <table>
      <tr id="head">
        <td ng-click="sortBy = 'first_name'; sortReverse = !sortReverse">Name</td>
        <td>Actions</td>
      </tr>
      <tr class="show" ng-repeat="user in users | filter:UserFilter | orderBy:sortBy:sortReverse">
        <td>{{user.name}}</td>
        <td><button id="remove" type="submit" name="button" ng-click="remove_user($index)">Remove Player</button></td>
      </tr>
    </table>
</div>
