<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>Submitted Information</h2>
    <p>Name : <%= Data.name%></p>
    <p>Dojo Location : <%= Data.location%></p>
    <p>Favorite Language : <%= Data.language%></p>
    <p>Comment : <%= Data.comment%></p>
  </body>
</html>
