<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>Info about <%= dogs.name %></h2>
    <h4>Age : <%= dogs.age %></h4>
    <h4>Color : <%= dogs.color %></h4>
    <a href="/">Home</a>
    <a href="/<%= dogs._id %>/edit">Edit</a>
  </body>
</html>
