<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <script type="text/javascript">

    </script>
    <h2>This is express HOMEPAGE!!</h2>
    <h3>Hello <%= name%></h3>
    <h3><%= age%></h3>
    <% for (var i=0; i<names.length; i++) { %>
    <h3>Your friends : <%= names[i] %></h3>
  <%} %>
  </body>
</html>
