<!DOCTYPE html>
<html>
  <head>
    {% load humanize %}
    <meta charset="utf-8">
    {% load staticfiles%}
    <link rel="stylesheet" href="{% static 'secret/secret.css'%}">
    <title></title>
  </head>
  <body>
    <div class="wrapper">
      <h1>Welcome, {{ request.session.fname }}</h1>
      <form class="" action="{% url 'home:logout' %}" method="post">
        {% csrf_token %}
        <input id="logout" type="submit" name="" value="Logout">
      </form>
      <form action="{% url 'secret:secret'%}" method="post">
        {% csrf_token %}
        <input id="textbox" type="text" name="msg" placeholder="post secret massge.. shh....">
        <br>
        <button id="post" type="submit" name="button">Post</button>
      </form>
    </div>
    <div class="">
      <h2>Recent Secrets...</h2>
      {% for secret in secrets %}
      <p>{{secret.id}} {{secret.secret}} ({{secret.created_at|naturaltime}}) {{secret.liked.count}} likes <a href="{% url 'secret:like' id=secret.id %}">LIKE</a>
        {% if secret.creator.id == request.session.id %}
        <a href="{% url 'secret:delete' id=secret.id %}"><button type="submit" name="submit">Delete</button></a> <span style="font-weight:bold"> You Posted this! </span>
        {% endif %}
      </p>
      {% endfor %}
    </div>
  </body>
</html>
