<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Hello!</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
        <link rel="stylesheet" href="/css/style.css">
        
    </head>
    <body>    
        <div class="ui secondary pointing menu" id="jacenavi">
            <a class="header item" href="/">Home</a>
            <a class="item" href="/project">Project</a>
            <a class="item" href="/contact">Contact</a>
            <span class="floated right item">Hello Jace!</span>
        </div>
        <div class="ui inverted segment" id="contactt">
            <img class="ui centered medium image" src="img/Eevee623.jpg">
            <h4 class="ui yellow inverted header">Eevee</h4>
            <h4 class="ui violet inverted header">I don't have phone number but..</h4>
            <h4 class="ui brown inverted header">You can email me!! </h4>
            <h4 class="ui grey inverted header"><p>Eevee.<i class="paw icon"></i><i class="paw icon"></i>at<i class="paw icon"></i>.com</p></h4>
            <div class="ui divider"></div>
            <div class="ui corner labeled inverted input">
                <input class="movingleft" type="text" placeholder="Your name">
                <div class="ui corner label">
                    <i class="paw icon"></i>
                </div>
            </div>
            <div class="ui inverted divider"></div>
            <div class="ui corner labeled inverted input">
                <input type="text" placeholder="Your email">
                <div class="ui corner label">
                    <i class="paw icon"></i>
                </div>
            </div>
            <div class="ui inverted divider"></div>
            <div class="ui left corner labeled inverted input">
                <textarea name="name" rows="4" cols="60" placeholder="Tell me about your opinions!"></textarea>
            </div>
            <div class="ui inverted divider"></div>
            <button class="ui inverted button"><i class="paw icon"></i><i class="paw icon"></i><i class="paw icon"></i></button>
        </div>
        
    </body>
</html>
