<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Hello!</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
        <link rel="stylesheet" href="/css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
        
        
    </head>
    <body>    
        <div class="ui secondary pointing menu" id="jacenavi">
            <a class="header item" href="/">Home</a>
            <a class="item" href="/project">Project</a>
            <a class="item" href="/contact">Contact</a>
            <span class="floated right item">Hello Jace!</span>
        </div>
        
        <div class="ui inverted segment" id="jacecontent">
            <img class="ui centered medium circular image"  src="/img/Eevee1.jpg">
            <h4 class="ui yellow inverted header">Hello everyone! my name is Eevee!</h4>
            <h4 class="ui violet inverted header">I'm 2 years old now!</h4>
            <h4 class="ui brown inverted header">I love Peanut butter so much!!</h4>
            <h4 class="ui grey inverted header">I want to go park!</h4>
        </div>
    </body>
</html>
