<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Hello!</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
        <link rel="stylesheet" href="/css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
        
        
    </head>
    <body>    
        <div class="ui secondary pointing menu" id="jacenavi">
            <a class="header item" href="/">Home</a>
            <a class="item" href="/project">Project</a>
            <a class="item" href="/contact">Contact</a>
            <span class="floated right item">Hello Jace!</span>
        </div>
        
        <div class="ui inverted segment" id="jacecontent">
            <h4 style ="text-align: center"class="ui green inverted header">My Projects!!</h4>
            <div class="ui divider"></div>
            <img class="ui middle aligned tiny image" src="/img/Eevee123.jpg">
            <span>My first project is..</span>
            <span>Making the nice game</span>
            <div class="ui divider"></div>
            <img class="ui middle aligned tiny image" src="/img/Eevee223.jpg">
            <span>My second project is..</span>
            <span>Making the nice my own page!</span>
            <div class="ui divider"></div>
             <img class="ui bottom aligned tiny image" src="/img/Eevee323.jpg">
            <span>My last project is..</span>
            <span>sleeping...well </span>
            <div class="ui divider"></div>
        </div>
    </body>
</html>
