#textbox{
  width: 400px;
  height: 100px;
}
h1{
  display: inline-block;
}
form{
  display: inline-block;
  vertical-align: top;
}
#logout{
  color:white;
  background-color: green;
  margin-left: 140px;
  margin-top: 30px;
}
.wrapper{
  width: 600px;
}
#post{
  color:white;
  background-color: blue;
  margin-left: 335px;
  margin-top:10px;
  width: 70px;
  height: 20px;
}
